header {
    background: #24252a;
    display: flex; 
    justify-content:flex-end;
    align-items: center;
    padding: 20px 10%;
  }
 
  .logo {
    cursor: pointer;
    margin-right: auto;
  }
  
  .nav__links {
    list-style: none;
    padding: 0px 20px;

    
  }
  
  .nav__links li {
    display: inline-block;
    padding: 0px 20px;
    margin-right:1%;
    margin-left: 0px;

  }
  
  .nav__links li a {
    transition: alt 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: rgb(39, 232, 135);
  }